
<head>

	<title>handyrepGUI<!--{% block title %}{% endblock %}--></title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body >

    <nav id = "main_words_nav">
        <ul class=" row">
	        <li class="col span_1">&nbsp;</li>
            <li class="col span_15"><img style="height:120px" src="/static/handyrepfinalwithtext.gif"></li>
            <li class="col span_3"><img style="height: 100px" src="/static/logo.png"></li>
	        <li class="col span_1">&nbsp;</li>
	    </ul>
    </nav>
    <hr style="color: #2b3990"/>
	<nav id = "global_nav" >

	    <ul class="container row" >
	        <li class="col span_1">&nbsp;</li>
            {% for topic in topics %}
	        <li class="col span_7" ><a href="/{{topic.Category|lower}}"><h1 style="text-align: center">{{topic.Category}}</h1><p>{{topic.description}}</p></a></li>
            {% endfor %}

	        <li class="col span_1">&nbsp;</li>
	    </ul>
        <hr style="color: #2b3990"/>
	</nav>
    {% block content %} {% endblock %}
</body>
</html>