{% extends "Section.html" %}

{% block detail %}
<h1 style="color: #474747; text-align: center">{{ function.function_name }} -- {{ function.description }}</h1>
    <h2 style="color: #474747">Pease choose your options</h2>
  <form action="" method="post" name = "true_false">
  {{ form.hidden_tag() }}
  {% set tf = 1 %}
  {% set tx = 1 %}
    {%   for param in function.params %}

        <h3>{{ param.param_name }} -- {{ param.param_description }}</h3>
        {% if param.param_options %}
            <h4>Please choose from one of the following.</h4>
            {% for option in param.param_options %}
                {{ option.option_name }} -- {{ option.description }}<br>
            {% endfor %}
        {% endif %}
        {% if param.param_type == "bool"%}
            Please click if you want true:
            {% if tf == 1 %}
                {{ form.true_false1 }}
                {% set tf = 2 %}
            {% elif tf == 2 %}
                {{ form.true_false2 }}
                {% set tf = 3 %}
            {% elif tf == 3 %}
                {{ form.true_false3 }}
                {% set tf = 4 %}
            {% endif %}
        {% elif param.param_type == "choice"  or param.param_type == "text"%}
            Please enter your choice:
            {% if tx == 1 %}
                {{ form.textdata1 }}
            {% set tx = 2 %}
            {% elif tx == 2 %}
                {{ form.textdata2 }}
            {% set tx = 3 %}
            {% elif tx == 3 %}
                {{ form.textdata3 }}
            {% set tx = 4 %}
            {% endif %}

        {% endif %}
    {% endfor %}
   <br>
    <input type="submit" value="Submit"></p>
  </form>

<hr style="color: navy"/>
{% endblock %}

{##}
{# THis is how to access each piece of data
  {{ function.function_name }}#}
{#    <br>#}
{#    {{ function.description }}#}
{#<br><br>#}
{#    {%   for param in function.params %}#}
{#        {{ param.param_name }}<br>#}
{#        {{ param.param_type }}<br>#}
{#        {{ param.param_description }}<br>#}
{#        {% if param.param_options %}#}
{#            {% for option in param.param_options %}#}
{#                {{ option.option_name }}<br>#}
{#                {{ option.description }}<br>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{##}
{#    <br>#}
{#    {% endfor %}#}