{% extends "base.html" %}
{% block content %}
<h1 style="color: #231f20; text-align: center">{{name}}</h1>
       <nav id = "global_nav" >
        {% for section in Sections %}
            {% if loop.index0 is divisibleby 3 %}

                <ul class="container row" >
{#	            <li class="col span_1">&nbsp;</li>#}
                <li class="col span_7" ><a href="/{{name|lower}}/{{section.function_name}}"><h2 title="{{section.description}}">{{section.function_name}}<br><span style="padding-left: 5%; font-size: .60em">   {{ section.short_description }}</span> </h2></a></li>
            {% elif loop.index is divisibleby 3 %}

                <li class="col span_7" ><a href="/{{name|lower}}/{{section.function_name}}"><h2 title="{{section.description}}">{{section.function_name}}<br><span style="padding-left: 5%; font-size: .60em">   {{ section.short_description }}</span>  </h2></a></li>
{#            	<li class="col span_1">&nbsp;</li>#}
	            </ul>
            {% else %}
                <li class="col span_7" ><a href="/{{name|lower}}/{{section.function_name}}"><h2 title="{{section.description}}">{{section.function_name}}<br><span style="padding-left: 5%; font-size: .60em">   {{ section.short_description }}</span>  </h2></a></li>
            {% endif %}
        {% endfor %}
       </nav>
<hr style="color: #2b3990"/>
{% block detail %}{% endblock %}
{% endblock %}



{#	    <ul class="container row" >#}
{#	        <li class="col span_1">&nbsp;</li>#}
{#            {% for topic in topics %}#}
{#	        <li class="col span_7" ><a href="/{{topic.Category|lower}}"><h1 style="text-align: center">{{topic.Category}}</h1><p>{{topic.description}}</p></a></li>#}
{#            {% endfor %}#}
{##}
{#	        <li class="col span_1">&nbsp;</li>#}
{#	    </ul>#}

