{% extends "Section.html" %}


{% block detail %}
      <hr/>
    <div style="text-align: center" xmlns="http://www.w3.org/1999/html">
<div style="background-color: #f9fbfd; margin: 0% auto; display: inline-block">
<h1 style="color: #231f20; text-align: center; padding-left: 1.5em; padding-right: 1.5em">{{ function.function_name }}<br style="; padding-top: 20px"><span style=" font-size: .60em">{{ function.description }}</span>  </h1>
    </div>
    </div>

    <div class = span_20 style="padding-left: 5em; ">
    <h1 style="color: #231f20; font-size: 1.75em">Please choose your options</h1>
    <p style="color: red">{{ message }}</p>
  <form action="" method="post" name = "true_false">
  {{ form.hidden_tag() }}
  {% set tf = 1 %}
  {% set tx = 1 %}
    {%   for param in function.params %}

        <h2>{{ param.param_name }}<br> <span style="padding-left: 1em; font-size: .8em"> {{ param.param_description }}</span></h2>
        {% if param.param_options %}
            <h3>Please choose from one of the following.</h3>
            {% for option in param.param_options %}
               <span style="font-weight: bold"> {{ option.option_name }}</span> <br/> <span style="padding-left: 1em">{{ option.description }}<br><br></span>
            {% endfor %}
        {% endif %}
         <span style="padding-left: 1em">
        {% if param.param_type == "bool"%}
            Please click if you want true:
            {% if tf == 1 %}
                {{ form.true_false1 }}
                {% set tf = 2 %}
            {% elif tf == 2 %}
                {{ form.true_false2 }}
                {% set tf = 3 %}
            {% elif tf == 3 %}
                {{ form.true_false3 }}
                {% set tf = 4 %}
            {% endif %}
        {% elif param.param_type == "choice"  or param.param_type == "text"%}
            Please enter your choice:
            {% if tx == 1 %}
                {{ form.textdata1 }}
            {% set tx = 2 %}
            {% elif tx == 2 %}
                {{ form.textdata2 }}
            {% set tx = 3 %}
            {% elif tx == 3 %}
                {{ form.textdata3 }}
            {% set tx = 4 %}
            {% endif %}

        {% endif %}
                {% if param.required %}
            <span style="color: red"> (This option is required.)</span>
        {% endif %}
        </span>
    {% endfor %}
   <br><br>
  <div style="padding-left: 2em">
    <input type="submit" value="Submit"></p>
      </div>
  </form>
</div>


{% endblock %}

{##}
{# THis is how to access each piece of data
  {{ function.function_name }}#}
{#    <br>#}
{#    {{ function.description }}#}
{#<br><br>#}
{#    {%   for param in function.params %}#}
{#        {{ param.param_name }}<br>#}
{#        {{ param.param_type }}<br>#}
{#        {{ param.param_description }}<br>#}
{#        {% if param.param_options %}#}
{#            {% for option in param.param_options %}#}
{#                {{ option.option_name }}<br>#}
{#                {{ option.description }}<br>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{##}
{#    <br>#}
{#    {% endfor %}#}