{% extends "base2.html" %}

{% block eachcontent %}
<hr/>
<div style="padding-left: 4em">
{% if info %}
    {% for key in info %}
<h2><a href="/server/{{ key }}"> {{key|capitalize}}'s</a> server information:</h2>
<div style="padding-left: 1em; width: 100%">
        <table style="text-align:left;width: 100%;font-size: 1em;">
	<tr >
        <td><h4 style="line-height: 0px">pgconf:<span style="font-weight: normal; font-size: 1em"> {{ info.get(key).get("pgconf") }}</span></h4> </td>
        <td><h4 style="line-height: 0px">pgdata: <span style="font-weight: normal; font-size: 1em"> {{ info.get(key).get("pgdata") }}</span></h4></td>
        <td><h4 style="line-height: 0px">port:<span style="font-weight: normal; font-size: 1em">  {{ info.get(key).get("port") }}</span></h4></td>
        <td><h4 style="line-height: 0px">lag limit: <span style="font-weight: normal; font-size: 1em"> {{ info.get(key).get("lag_limit") }}</span></h4></td>
	</tr><tr>
        <td><h4 style="line-height: 0px">ssh key: <span style="font-weight: normal; font-size: 1em"> {{ info.get(key).get("ssh_key") }}</span></h4></td>
        <td><h4 style="line-height: 0px">ssh user: <span style="font-weight: normal; font-size: 1em"> {{ info.get(key).get("ssh_user") }}</span></h4></td>
        <td><h4 style="line-height: 0px">recovery template: <span style="font-weight: normal; font-size: 1em"> {{ info.get(key).get("recovery_template") }}</span></h4></td>
        <td><h4 style="line-height: 0px">failover priority: <span style="font-weight: normal; font-size: 1em"> {{ info.get(key).get("failover_priority") }}</span></h4></td>
	</tr><tr>
        <td><h4 style="line-height: 0px">restart method: <span style="font-weight: normal; font-size: 1em"> {{ info.get(key).get("restart_method") }}</span></h4></td>
        <td><h4 style="line-height: 0px">promotion method:<span style="font-weight: normal; font-size: 1em">  {{ info.get(key).get("promotion_method") }}</span></h4></td>
        <td><h4 style="line-height: 0px">clone method: <span style="font-weight: normal; font-size: 1em"> {{ info.get(key).get("clone_method") }}</span></h4></td>
        <td><h4 style="line-height: 0px">replica conf: <span style="font-weight: normal; font-size: 1em"> {{ info.get(key).get("replica_conf") }}</span></h4></td>
	</tr>
	    </table>
</div>
    {% endfor %}
{% endif %}
{% block specificdata %}{% endblock %}

</div>
{% endblock %}